@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue mollis lorem sit amet blandit. Duis maximus turpis non libero convallis, venenatis egestas felis malesuada. Nunc sed pellentesque diam, sit amet elementum felis. Morbi viverra, lorem vel ullamcorper elementum, ex lectus cursus metus, vel efficitur lorem diam id tellus. Sed convallis vestibulum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut magna eu nibh imperdiet pellentesque sed blandit augue.</p>

    <p>Praesent vestibulum blandit ipsum, vel consectetur eros pulvinar a. Cras at elementum est, sed maximus est. Donec sit amet consequat diam. Donec sed feugiat orci, id posuere orci. Nullam eu est quis metus pharetra ornare. Integer finibus, nibh ut rutrum pulvinar, augue velit vestibulum erat, eu lacinia orci leo consectetur odio. Mauris sagittis urna vel lorem hendrerit, non malesuada libero blandit. Vestibulum varius vel enim ultricies sollicitudin. Sed finibus ipsum et sodales congue. Vivamus leo ligula, commodo ut arcu ut, blandit aliquet mi. In eget mauris tristique, imperdiet arcu vel, tristique massa. Nam at vulputate erat, id bibendum risus. Nam ornare nulla sit amet enim porta rhoncus. In sed vestibulum tortor, at scelerisque tellus. Curabitur non felis in tortor vulputate congue et quis tellus. Cras blandit malesuada aliquam.</p>

    <p>Nam sed molestie arcu. Nunc non porttitor est. Nam lacinia purus tortor, ac ultrices dolor vulputate nec. Cras mauris nisl, bibendum sit amet justo a, tincidunt accumsan nisl. Nulla erat odio, vulputate et tellus non, fringilla viverra libero. In tincidunt nisl lacinia porta tincidunt. Duis finibus sodales ligula, a volutpat nunc rutrum accumsan. Vestibulum sit amet erat leo. Vivamus accumsan rhoncus interdum. Ut posuere et tellus sed aliquet. Praesent hendrerit, magna sit amet sollicitudin imperdiet, justo purus sodales libero, et ultrices orci purus sagittis metus.</p>

    <p>In maximus erat ut mauris laoreet tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam suscipit, nulla id iaculis vehicula, purus risus cursus augue, vel hendrerit felis ante eget ante. Sed finibus felis quis consectetur vehicula. Etiam enim est, gravida ac laoreet in, suscipit ut nunc. Donec ultricies placerat quam eu consequat. Nullam vulputate facilisis mollis. Vestibulum bibendum consequat purus. Vestibulum at luctus nisi.</p>

    <p>Suspendisse ullamcorper nisi nec risus condimentum, ac feugiat tortor fringilla. Maecenas vel orci elit. Donec at ipsum vel quam posuere sollicitudin eget sed lectus. In tristique, nibh eu vulputate fermentum, dolor eros lacinia quam, eget aliquet tellus erat ut dui. Quisque placerat hendrerit maximus. Sed a auctor nisl, vel consectetur lorem. Integer ut odio lorem. Mauris vel pretium magna. Curabitur congue dictum quam, eget placerat lorem ultricies sed. Nullam vel nulla tempus, fringilla arcu sit amet, aliquet ipsum.</p>

</div>

